.vision {
    margin: 0px auto;
    padding: 20px;
    overflow: hidden;
    width: 990px;
    background-color: white;
    background-repeat: no-repeat;
    background-size:contain;
    text-align: center;
}
.vision h2{
    margin: 10px auto;
}

.vision p {
    margin: 0 auto;
    text-align: center;
    border: solid 1px #cccccc;
    width: 70%;
    line-height: 30px;
}


@media (max-width:767px) {
    .vision {
        width: 100%;
        /* margin: 30px auto; */
    }
    .vision h2{
        margin: 20px auto;
    }
    .vision br {
        display: none;
        
    }
}
