.vision {
    margin: 50px auto;
    width: 990px;
    overflow: hidden;
    background-color: white;
    background-repeat: no-repeat;
    background-size:contain;
    /* width: 990px; */
    text-align: center;
}
.vision h2{
    margin: 50px auto;
}

.vision p {
    margin: 0 auto;
    text-align: center;
    border: solid 1px #cccccc;
    width: 70%;
    line-height: 30px;
}


@media (max-width:767px) {
    #wrapper2 .vision  {
        width: 100%;
    }
    .vision br {
        display: none;
        
    }
    .vision {
        width: 100%;
    }

}
