.vision {
    margin: 0px auto;
    padding: 20px;
    overflow: hidden;
    width: 990px;
    background-color: white;
    background-repeat: no-repeat;
    background-size:contain;
    text-align: center;
    height: 650px;
    position: relative;
}
.v-text {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
	width: 100%;
    z-index: 1;
}
.vision h2{
    margin: 10px auto;
}

.vision p {
    margin: 0 auto;
    text-align: center;
    border: solid 1px #cccccc;
    width: 70%;
    line-height: 30px;
}
.res-about {
    display: none;
}

@media (max-width:767px) {
    .vision {
        width: 100%;
        /* margin: 30px auto; */
    }
    .vision h2{
        margin: 20px auto;
    }
    .vision p {
        width: 95%;
    }
    .res-about {
        display: block;
    }
    .about {
        display: none;
    }
}
