#wrapper6 {
    width: 100%;
    overflow: hidden;
    background-color: #EEEEEE;
}

.access {
    margin: 50px auto;
    text-align: center;
    /* width: 60%; */
}
.access h2{
    margin: 50px auto;
}

.access iframe {
    margin: 50px auto 20px auto;
    width: 400px;
}

/* .access p {
    margin: 0 auto;
} */

.access-box th, 
.access-box td {
    border-bottom:solid 1px silver;
    padding: 20px;
    color: gray;
    padding-left: 80px;
}
.access-box th {
    width: 250px;
    text-align: left;
}


@media (max-width:767px) {
.access {
  width: 100%;

}
.ifram {
    width: 100%;
}

.access-box, 
.access-box tr,
.access-box td,
.access-box th {
  width: 100%;
  padding: 0;
} 


.access-box th {
  padding: 30px 20px;
  word-break:keep-all;
  
}
.access-box td {
  padding: 10px 5px;
  word-break:keep-all;
}

}