/* #wrapper6 {
    width: 100%;
    overflow: hidden;
    background-color: #EEEEEE;
} */

.access {
  margin: 25px auto;
  overflow: hidden;
  width: 100%;
}
.access h2{
  margin-bottom: 20px;
  text-align: center;
}

.access-box {
  width: 100%;

}


.access-box th {
    /* width: 200px; */
    width: 40%;
    text-align: right;
    padding: 10px;
    color: gray;
    padding-left: 80px;
}
.access-box td {
  /* width: 500px; */
  width: 60%;
  text-align: left;
  padding: 10px;
  color: gray;
  /* padding-left: 80px; */
}
.access .map{
  text-align: center;
  /* margin: 50px auto 20px auto; */
}


@media (max-width:767px) {
.access {
  width: 100%;

}
/* .access h2{
  margin: 10px auto;
  text-align: center;
} */

.ifram {
    width: 100%;
}

/* .access-box, 
.access-box tr,
.access-box td,
.access-box th {
  width: 100%;
  padding: 0;
}  */


.access-box th {
  width: 25%;
  padding: 10px;
  /* word-break:keep-all; */
  
}
.access-box td {
  width: 75%;
  padding: 10px;
  /* word-break:keep-all; */
}
.access iframe{
  width: 300px;
  height: 225px;
}

}