@charset "UTF-8";


body {
    width: 100%;
    /* font-family:sans-serif; */
    text-align: center;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.form-group input {
    width: 75%;
}

.form-group textarea {
    width: 75%;
} 