@charset "utf-8";

#wrapper {
    width: 990px;
    margin: 0 auto;
}

#wrapper .form-group {
    width: 100%;
    margin: 4% 0 0 0 ;
    text-align: center;
}

#wrapper .form-group input {
    width: 80%;
}

#wrapper .form-group textarea {
    width: 80%;
} 

#wrapper .form-group .error-message{
    color: #ff0000;
    text-align: left;
    margin:  0 10%;
}

#send{
    width: 20%;
    text-align: center;
    margin: 5% 0 0 40%;
}

.resultMessage{
    margin: 10px;
}

@media (max-width:767px) {

.contact .form {
    width: 100%;
}
.contact .form-group input {
    width: 100%;
}
.contact .form-group textarea {
    width: 100%;
    
}
#send {
    margin: auto;
    width: auto;
}
}