@charset "utf-8";

#wrapper {
    width: 80%;
    margin: 0 0 10% 10%;
    /* background-color: rgb(124, 206, 226); */
}

#wrapper .form-group {
    width: 100%;
    margin: 4% 0 0 0 ;
    text-align: center;
}

#wrapper .form-group input {
    width: 80%;
}

#wrapper .form-group textarea {
    width: 80%;
} 

#wrapper .form-group .error-message{
    color: #ff0000;
    text-align: left;
    margin:  0 10%;
}

#send{
    width: 20%;
    text-align: center;
    margin: 5% 0 40% 40%;
}