
/* footer nav */
.footer-nav {
    width: 80%;
    margin: 0 auto;
    height: 75px;
}
.footer-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}
.footer-nav ul li {
    float: left;
    width: 14%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    padding-top: 15px;
}
.footer-nav ul li a {
    display: block;
    height: 30px;
    margin-top: 10px;
    margin: 0;
    padding: 10px;
    color: #333333;
    text-decoration: none;
}
.footer-sns {
    text-align: center;
}
.footer-sns img {
    padding-left: 20px;
}
.footer-text {
    margin: 25px auto 10px auto;
    text-align: center;
}


@media (max-width:767px) {
.footer-text {
  width: 100%;
}


}