#header {
    width: 100%;
    height: 100px;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 9999;
    /* text-align: center; */
    /* overflow: hidden; */
}
#logo {
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 9999;
}
.nav {
    margin-left: auto;
    margin-right: auto;
    width: 600px
}
.nav ul {
    margin:  0 auto;
    padding: 0;
    list-style-type: none;
}




@media (max-width:767px)
{
    #logo img{
        width: 60px;
        height: 60px;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 0;
    }
}



/* #wrapper1 .nav {
    height: 45px;
    z-index: 9999;
    position: absolute;
    top: 0px;
    right:10px;
    background-color: white;
}
 */

/* #wrapper1 .nav ul li {
    float: left;
    text-align: center;
    text-decoration: none;
}
#wrapper1 .nav ul li .nav-item {
    margin: 0;
    text-align: center;
}
#wrapper1 .nav ul li a {
    display: block;
    height: 30px;
    margin: 0 auto;
    padding: 10px;
    color: #333333;
    background-color: white;
    text-decoration: none;
} */

/* #navbarSupportedContent{
    background-color: white;
    width: 100VW;
    height: 75px;
}
.header {
    margin:0 auto;
}
 */

