.history {
  margin: 0px auto;
  overflow: hidden;
  width: 990px;
}
.history h2{
  margin: 50px 0 10px 0;
  text-align: center;
}
.history-box {
  width: 95%;
  margin: 0 auto;
}

.history-box th, .history-box td{
    border-bottom:solid 1px silver;
    padding: 20px;
    color: gray;
    padding-left: 80px;
}
.history-box th {
    width: 250px;
    text-align: left;
}



@media (max-width:767px) {

.history {
  width: 100%;
}

.history-box,
.history-box tr,
.history-box td,
.history-box th {
  padding: 0;
}


.history-box th {
  padding: 15px 15px;
  width: 50%;

}
.history-box td {
  padding: 5px 5px 5px 0;
}


}
