@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
    width: 100%;
    font-family:sans-serif;
    color: #222222;
}
.main {
    width: 990px;
    margin: 0 auto;
    text-align: center;
}
.header {
    margin:0 auto;
}
#logo img{
    width: 75px;
    height: 75px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 0;
}





/* フェードイン */
.fadeIn_up {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 4s;
}
.fadeIn_up.is-show {
    transform: translate(0, 0);
    opacity: 1;
}
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
}
.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.pagetop a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.section {
    margin-top: 150px;
}
body h2 {
    text-align: center;
    font-size: 42px;
    margin: 50px auto;
}

/* wrapper */
#wrapper {
    margin: 0 auto;
}


/* ヘッダーここから */
#wrapper1 {
    text-align: center;
    width: 100%;
    overflow: hidden;
}
#wrapper1 .nav {
    margin: 0 auto;
    height: 75px;
    z-index: 9999;
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    margin-bottom: 0;
}
#wrapper1 .nav ul{
    margin:  0 auto;
    /* margin: 0; */
    padding: 0;
    list-style-type: none;
    /* width: 100%; */

}
#wrapper1 .nav ul li {
    float: left;
    /* うまく整列しないので削除 */
    /* width: 14%; */
    height: 50px;
    text-align: center;
    text-decoration: none;
    padding-top: 15px;
}
#wrapper1 .nav ul li a {
    display: block;
    height: 30px;
    margin: 0;
    padding: 5px 10px 10px 10px;
    color: #333333;
    text-decoration: none;
}
 /* ヘッダーの幅を横幅いっぱいにするために追加 */
#navbarSupportedContent{
    width: 100VW;   
}
/* ヘッダーここまで */




#wrapper2,
#wrapper3,
#wrapper4,
#wrapper5
#wrapper6 {
    width: 100%;
    overflow: hidden;
}
#wrapper2 {
    background-image: url("/images/company.png");
    height: 800px;
    color: white;
}
#wrapper3{
    background-color: #EEEEEE;
}


#wrapper5 {
    background-color: #EEEEEE;
    padding: 50px;
}
.recruit {
    width: 990px;
    margin: 0 auto;
    text-align: center;
}
.access {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.access p {
    margin: 0 auto;
}
iframe {
    margin: 50px auto 20px auto;
    width: 400px;
}
.content {
    margin: 20px auto ;
}


/* .blank{
    width: 100VW;
    height: 65px;
    background-color: white;
    position: fixed;
    top: 0%;
} */

.section {
    margin:60px auto 0 auto;
}
.txtBox inview fadeIn_up p {
    margin: 10px auto 0 auto;
}
.txtBox inview fadeIn_up h2 {
    margin: 5px auto;
}


/* 会社概要・沿革 */
.cam {
    text-align: center;
    color: black;
    /* font-family: 'Noto Sans CJK JP Subset', sans-serif; */
    padding-top: 50px;

}
.his {
    text-align: center;
    color: black;
    /* font-family: 'Noto Sans CJK JP Subset', sans-serif; */
    padding-top: 50px;
}
.campany-box, .history-box, .welfare-box {
    width: 100%;
}
.campany-box th,
.campany-box td,
.welfare-box th,
.welfare-box td {
    border-bottom:solid 1px silver;
    padding: 20px;
    color: gray;
    padding-left: 80px;
}
.campany-box th,
.welfare-box th {
    width: 250px;
    text-align: left;
}
.welfare-box td {
    text-align: left;
}

.history-box th, .history-box td {
    border-bottom:solid 1px silver;
    padding: 20px;
    color: gray;
    padding-left: 80px;
}
.history-box th {
    width: 250px;
    text-align: left;
}
.vision {
    margin: 0 auto 50px auto;
    width: 990px;
}
.vision p {
    /* 三行のままならいらないが、増やすならleftにした方がいい */
    /* text-align: left; */
    margin: 0;
    text-align: left;
}
.service {
    margin: 50px auto;
}
.service-1 h3,
.service-2 h3,
.service-3 h3 {
    font-size: 1.5em;
    margin: 20px auto;
}
.service-1 p,
.service-2 p,
.service-3 p {
    text-align: left;
    line-height: 30px;
    margin: 0 10px;
}
.service-1,
.service-2,
.service-3  {
    display: flex;
    margin: 50px auto;
}
.service-1 div,
.service-2 div,
.service-3 div {
    width: 50%;
}
.service-3 {
    margin-bottom: 75px;
}

.service-img img {
    width: 100%;
    height: auto;
}
.main-2 {
    width: 990px;
    margin: 0 auto;
}
/* footer nav */
.footer-nav {
    width: 80%;
    margin: 0 auto;
    height: 75px;
}
.footer-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}
.footer-nav ul li {
    float: left;
    width: 14%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    padding-top: 15px;
}
.footer-nav ul li a {
    display: block;
    height: 30px;
    margin-top: 10px;
    margin: 0;
    padding: 10px;
    color: #333333;
    text-decoration: none;
}
.footer-sns {
    text-align: center;
}
.footer-sns img {
    padding-left: 20px;
}
.footer-text {
    margin: 30px auto 10px auto;
    text-align: center;
}

/* serviceフェードイン繰り返し */
.service-img{
   transform: translateY(50px);
 transition: 3s;
 opacity: 0;
}
.is-show{
    opacity: 1;
    transform: translateY(0px);
}


    /*左から右にフェードイン*/
.service-contents {
    opacity: 0;
}
.fadeInRight {
   transition: all 0.5s ease-in;
    transform: translateX(10px);
    opacity: 1;
}

/*下から上にフェードイン リクルート*/
.recruit-img{
   transform: translateY(50px);
 transition: 3s;
 opacity: 0;
}
.recruit-show{
    opacity: 1;
    transform: translateY(0px);
}

/* プライバシーポリシー */
.P-main {
    width: 990px;
    margin: 0 auto;
    text-align: left;
}
.P-main h3 {
    margin: 50px auto 30px auto;
    border-bottom:solid 1px silver;
}
.back-top {
    text-align: center;
}



/* CONTACT */
#wrapper7{
    margin: 0 auto;
    padding: 20px;
    /* height: 500px; */
    /* width:990px; */
    background-color: white;
}
.contact .form{
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    /* height: 300px; */
    border: double 5px #BBBBBB;

    /* background-color: teal; */
}
.contact .form-group input{
    width: 550px;
}
.contact .form-group textarea{
    width: 550px;
}
.error-message p{
    color: #ff0000;
    text-align: left;
    margin:  0;
}
/* CONTACT */



/*recruit */
.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;

}

.btn.shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.shadow:hover {
  -webkit-transform: translate(-2.5px, -2.5px);
          transform: translate(-2.5px, -2.5px);
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
}

.recruit_contact {
    margin: 50px auto;
    text-align: center;
}
.recruit_contact a {
     text-decoration: none !important;
}
