.mainvisual {
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.mainvisual-text{
    margin: 0 auto;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #AAAAAA;
     z-index: 1;
}
.mainvisual-text h2 {
    margin: 10px auto;
}

@media (max-width:767px) {
.mainvisual-text{
    position: static;
}

}