.campany {
    margin: 0px auto;
    padding: 20px;
    overflow: hidden;
    width: 990px;
}
.campany h2{
    margin: 10px auto;
    text-align: center;

}
.campany-box,
.welfare-box,
.coo-box,
.engineer-box,
.help-box {
    width: 100%;
}
.campany-box th,
.campany-box td,
.welfare-box th,
.welfare-box td,
.coo-box th,
.coo-box td,
.engineer-box th,
.engineer-box td,
.help-box th,
.help-box td {
    border-bottom:solid 1px silver;
    padding: 20px;
    color: gray;
    padding-left: 80px;
}
.campany-box th,
.welfare-box th,
.coo-box th,
.engineer-box th,
.help-box th {
    width: 250px;
    text-align: left;
}

@media (max-width:767px) {

    .campany {
        width: 100%;
    }
    .campany-box, 
    .campany-box tr,
    .campany-box td,
    .campany-box th {
        width: 100%;
    }
    .campany-box th {
        padding: 15px 15px;
    }
    .campany-box td {
        padding: 5px 5px;
        word-break:keep-all
    }

}  