
/* スマートフォン向けレイアウト */
/* ブレイクポイントをmax-width: 600pxに指定 */
.service-1 {
  display: flex;
}
@media (max-width:670px) {
/* about us */
  .vision{
    width: 100%;
  }

/* service */
.service-1 ,.service-2 ,.service-3 {
  width: 100%;
}

.service-1{
  flex-direction: column;

}
.order1 {
  order: 2;
}
.order2 {
  order: 1;
}




.recruit{
  width: 100%;
}

.main-2 {
  width: 100%;
}

 }