
/* スマートフォン向けレイアウト */

.service-contents {
  display: flex;
}
/* ブレイクポイントをmax-width: 600pxに指定 */
@media (max-width:670px) {
/* about us */
  .vision{
    width: 100%;
  }

/* service */
.service-1 {
  display: flex;
}
.service-contents {
  order: 2;
}
.service-img {
  order: 1;
}

.service-1 ,.service-2 ,.service-3 {
  width: 100%;
  display: block;
}


.recruit{
  width: 100%;
}

.main-2 {
  width: 100%;
}

}