.service {
    margin: 0px auto;
    overflow: hidden;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
}
.service h2{
    margin: 50px auto;
    text-align: center;
}
.service-1,
.service-2,
.service-3 {
    width: 990px;
    display: flex;
    margin: 25px auto;
}



.service-1 h3,
.service-2 h3,
.service-3 h3 {
    font-size: 1.5em;
    margin: 20px auto;
}
.service-1 p,
.service-2 p {
    text-align: left;
    line-height: 30px;
    margin: 0 10px 50px 10px;
}
.service-3 p{
    margin: 0 10px 10px 10px;

}
.service-1 div,
.service-2 div,
.service-3 div {
    width: 50%;
}


/* serviceフェードイン繰り返し */
.service-img{
    transform: translateY(50px);
    transition: 1s;
    opacity: 0;
}
.is-show{
    opacity: 1;
    transform: translateY(0px);
}


.service-img img {
    width: 100%;
    height: 250px;
}
.service-contents a {
    text-decoration: none !important;
}
.service-contents button {
    margin: 20px auto;
}

/*左から右にフェードイン*/
.service-contents {
    opacity: 0;
}
.fadeInRight {
    transition: all 0.5s ease-in;
    transform: translateX(5px);
    opacity: 1;
}


/* スマートフォン向けレイアウト */
@media (max-width:767px)
{
    .service {
        width: 100%;
        /* padding: 20px; */
        /* margin: 30px auto; */
    }
    /* .service h2{
        margin: 20px auto;
    } */

    .service-1 ,
    .service-2 ,
    .service-3 {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .service-1 div,
    .service-2 div,
    .service-3 div {
        width: 100%;
    }

    .service-1 .order1
    {
        order: 1;
    }
    .service-1 .order2
    {
        order: 2;
    }
    .service-3 .order1
    {
        order: 1;
    }
    .service-3 .order2
    {
        order: 2;

    }
    .service-1 img{
        width: 100%;
    }
    
    .service-2 img, 
    .service-3 img {
        height: 200px;
        width: 95%;
    }

    .service-1 img {
        height: 200px;
        width: 95%;
    }

}